body {
    font-family: 'Lato', sans-serif;
}

.emp {
    color: #A8713E;
}

/* Customized Designs */

/* background designs */

.welcome-bg, .welcome-bg-2 {
    width: 100%;
    min-height: 100vh;
    position: absolute;
}

.welcome-banner-row {
    min-height: 100vh;
}

.about-bg, .about-bg-2 {
    width: 100%;
    height: 100vh;
    position: absolute;
}
.welcome-bg {
    z-index: -3;
    background-color: #226dbc;
    -webkit-clip-path: polygon(0 88%, 32% 95%, 100% 85%, 100% 100%, 0 100%);
    clip-path: polygon(0 88%, 32% 95%, 100% 85%, 100% 100%, 0 100%);
}

.welcome-bg-2 {
    z-index: -4;
    background-color: #2A5F98;
    -webkit-clip-path: polygon(0 88%, 32% 95%, 100% 78%, 100% 100%, 0 100%);
    clip-path: polygon(0 88%, 32% 95%, 100% 78%, 100% 100%, 0 100%);
}


.about-bg {
    z-index: -1;
    background-color: #226dbc;
    -webkit-clip-path:  polygon(0 0, 100% 0, 100% 15%, 68% 5%, 0 10%);
    clip-path:          polygon(0 0, 100% 0, 100% 15%, 68% 5%, 0 10%);
}

.about-bg-2 {
    z-index: -2;
    background-color: #2A5F98;
    -webkit-clip-path: polygon(0 0, 100% 0, 68% 5%, 0 17%);
    clip-path: polygon(0 0, 100% 0, 68% 5%, 0 17%);
}

/* Welcome banner */

#left h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

#left lead {
    font-size: .75rem;
}

#right ul {
    list-style-type: none;
    perspective: 1000px;
}
#right ul li {
    border-radius: 10px;
    padding: 15px;
    margin: -10px;
    cursor: pointer;
    transform: rotateY(-30deg) rotateX(15deg);
    border-bottom: 4px solid rgba(0,0,0,0.2);
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
}


#right ul li:nth-child(1) {
    background: #5dff6a;
    z-index: -1;
}

#right ul li:nth-child(2) {
    background: #f4ff5d;
    z-index: -2;
}

#right ul li:nth-child(3) {
    background: #ffb35d;
    z-index: -3;
}

#right ul li:hover {
    transform: scale(1.1) rotateY(-22deg) rotateX(7deg);
    transition: 0.5s;
    z-index: 1;
}

/* About section */

#about {
    padding: 0;
}

.profile-picture {
    border-radius: 10px;
    width: 100px;
    border: 3px solid #f4ff5d;
}

.profilename {
    color: #226dbc;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: bold;
}

.info {
    padding-top: 28%;
}